VITE_DATA_PROVIDER=supabase
VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SUPABASE_ANON_KEY=
VITE_MAP_PROVIDER=mock
VITE_YANDEX_MAPS_API_KEY=
VITE_DEFAULT_MAP_LAT=40.1039
VITE_DEFAULT_MAP_LNG=65.3688
VITE_DEFAULT_MAP_ZOOM=14
