VITE_DATA_PROVIDER=supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_MAP_PROVIDER=yandex
VITE_YANDEX_MAPS_API_KEY=
VITE_YANDEX_SEARCH_API_KEY=
VITE_YANDEX_GEOSUGGEST_API_KEY=
VITE_DEFAULT_MAP_LAT=
VITE_DEFAULT_MAP_LNG=
VITE_DEFAULT_MAP_ZOOM=
VITE_PUBLIC_APP_ORIGIN=
